     /* .myStyle {
    width: 100%;
    height: 25px;
    background: yellow;
    box-sizing: border-box;
    color: #fff;
    font-size: 25px;
} */

/* .secure {
    background-color: blue;
    padding: 10px 30x;
    color: #fff;
}
.secureTwo {
    background-color: red;
    padding: 5px 15px;
    color: green;
} */